@import '../../../base.scss';

.sui-vertical-flexbox {
  // position: relative;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;

  .sui-horizontal-flexbox {
    // for every horizontal flexbox inside the vertical one, we will create a margin
    margin-right: $sui-spacing-base;

    &:last-child {
      margin-right: 0;
    }
  }

  > div {
    margin-bottom: $sui-spacing-base;

    &:last-child {
      margin-right: 0;
    }
  }
}
