@import "../../base.scss";

$dwidth: 200px;
$dheight: 200px;

@mixin labelBox {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $sui-color-primary-trans;
  transition: left $sui-duration-short, top $sui-duration-short;  
  left: 0;
  top: 0;
  padding: $sui-spacing-base;
  box-sizing: border-box;
}

.sui-image-box {

  width: $dwidth;
  height: $dheight;
  overflow: hidden;
  position: relative;
  color: white;

  a {
    color: inherit;

  }

  &__image {

    width: auto;
    height: $dheight;
  }

  &__label {

    &--horizontal {
      @include labelBox();
      left: $dwidth;
    }

    &--vertical {
      @include labelBox();
      top: $dheight;
    }

    &--rotate-270 {
      transform: rotateZ(270deg);
    }

    &__text {
      position: absolute;
      bottom: 0;
    }
  }


  &:hover #{&}__label--horizontal {
      left: 0;
  }

  &:hover #{&}__label--vertical {
    top: 0;
  }

  h4 {
    margin: 0;
  }
}
