@import "../../base.scss";

$dwidth: 200px;
$dhegith: 200px;

.sui-image-box {

  width: $dwidth;
  height: $dhegith;
  overflow: hidden;
  position: relative;
  color: white;

  &__image {

    width: auto;
    height: $dhegith;
  }

  &__label--horizontal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: $dwidth;
    top: 0;
    background-color: $sui-color-primary-trans;
    transition: left $sui-duration-short;

  }


  &:hover {

    .sui-image-box__label--horizontal {
      left: 0;
    }
  }
}
