@import '../../base.scss';

.sui-project-detail {
  &--wrapper {
    img {
      width: 100%;
    }
  }

  &--title {
    margin-bottom: $sui-spacing-large;

    h1 {
      margin-bottom: 0;
      color: $sui-color-primary;
    }

    span {
      font-size: $sui-h2;
      line-height: $sui-h2;
    }
  }
}
