@import '../../base';

.sui-language {
  padding: $sui-spacing-sm;
  transition: background-color $sui-duration-short;
  border-radius: $sui-pixel * 3;

  &-flag {
    width: $sui-spacing-large;
    margin-right: $sui-spacing-sm;
    vertical-align: middle;
  }

  &:hover {
    background-color: $sui-color-primary-trans;
  }

  &--button {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
  }
}
