@import '../base.scss';

.sui-about {
  position: relative;
  max-width: $sui-page-max-width;

  @include h-centered;

  &__hero {
    &--wrapper {
      position: relative;
    }
  }

  &__text-over-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 2rem 3rem;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: $sui-color-white-trans;
    color: $sui-color-primary;
    font-size: relative-pt(16);
    font-style: italic;
    line-height: relative-pt(28);
    box-sizing: border-box;
  }

  &__equip {
    &-text {
      width: $dwidth;
      height: $dheight;
      background-color: $sui-color-primary;
      color: $sui-color-white;
      font-size: relative-pt(32);
      text-transform: uppercase;

      div {
        position: relative;
        text-align: center;

        @include centered;
      }
    }
  }
}

.sui-serveis {
  &--wrapper {
    margin: $sui-spacing-xxxlarge 0;
  }

  &__content--wrapper {
    width: $dwidth;

    @include break-on(desktop) {
      &:first-of-type {
        margin: auto;
      }
    }
  }

  &__titol {
    display: inline-block;
    color: $sui-color-primary;
    font-size: relative-pt(32);
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
    transform-origin: top left;
  }

  &__list {
    font-size: relative-pt(20);
    line-height: relative-pt(27);

    li:empty {
      min-height: relative-pt(27.2);
    }
  }
}
