form {
  position: relative;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}

.submit-box {
  position: relative;

  input[type=submit] {
    position: absolute;
    right: 0;
    margin-top: 1rem;
  }
}

.sui-form-field {
  display: inherit;
  margin: .5rem 0;

  input[type=file] {
    border: 0;
  }

  select {
    display: inline-block;
    width: 100%;
  }
}
