@import '../base.scss';

.sui-home {
  &--wrapper {
    .sui-vertical-flexbox {
      flex-wrap: nowrap;
    }
  }

  &__competencies {
    width: $dwidth;
    max-height: calc(#{$dheight} + 2rem);
    margin-top: $sui-spacing-xxlarge;
    margin-right: $sui-spacing-xxlarge;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: auto;
      height: 100%;
      max-height: $dheight;
    }

    h3 {
      width: 70%;
      height: (60 / 16)rem;
      margin: 0;
      color: $sui-color-primary;
    }
  }

  &__central-column {
    width: $dwidth;
    height: $dwidth * 3;
    margin: 0 1rem;
    padding: 0 $sui-spacing-base;
    background-color: $sui-color-primary-bright;
    color: $sui-color-white;

    h1 {
      margin-top: 50%;
    }
  }

  &__image {
    &-left {
      width: $dwidth;
    }

    &-right {
      width: $dwidth;
      overflow: hidden;
    }
  }

  &__design-text {
    margin: 0;
    margin-left: 100%;
    transform: rotate(-90deg);
    color: $sui-color-primary;
    font-size: relative-pt(42);
    font-weight: 200;
    text-transform: uppercase;
    transform-origin: bottom left;
  }

  &__software-text {
    margin: 0;
    color: $sui-color-primary;
    font-size: relative-pt(42);
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }

  &__introduction-text {
    color: $sui-color-white;
    font-size: relative-pt(16);
    font-weight: 500;
    line-height: relative-pt(23);

    p {
      margin-bottom: 2rem;
    }
  }
}
