@import '../base.scss';

.sui-home {
  &--wrapper {
    animation-duration: $sui-duration-medium;
    animation-name: fade-in;
    animation-timing-function: ease-out;

    .sui-vertical-flexbox {
      flex-wrap: nowrap;
    }

    .sui-horizontal-flexbox {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__competencies {
    width: $dwidth;
    max-height: calc(#{$dheight} + 2rem);
    margin-top: $sui-spacing-xxlarge;
    margin-right: $sui-spacing-xxlarge;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: auto;
      height: 100%;
      max-height: $dheight;
    }

    h3 {
      width: 70%;
      height: (60 / 16) rem;
      margin: 0;
      color: $sui-color-primary;
    }
  }

  &__central-column {
    width: $dwidth;
    margin: 0 1rem;
    padding: 0 $sui-spacing-base;
    background-color: $sui-color-primary-bright;
    color: $sui-color-white;

    @include break-on(mobile) {
      width: 80%;
      height: initial;
      padding-bottom: 1rem;
    }

    h1 {
      margin-top: 50%;
    }

    .sui-home__introduction-wrapper {
      flex-direction: column;
    }
  }

  &__image {
    &-left {
      width: $dwidth;

      @include break-on(mobile) {
        display: none;
      }
    }

    &-right {
      width: $dwidth;
      overflow: hidden;

      @include break-on(mobile) {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: $sui-spacing-xxlarge;

        img {
          width: 60%;
          height: auto;
          margin-left: 40%;
        }
      }
    }
  }

  &__design-text {
    margin: 0;
    margin-left: 100%;
    transform: rotate(-90deg);
    color: $sui-color-primary;
    font-size: relative-pt(42);
    font-weight: 200;
    text-transform: uppercase;
    transform-origin: bottom left;
  }

  &__software-text {
    margin: 0;
    color: $sui-color-primary;
    font-size: relative-pt(42);
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;

    @include break-on(mobile) {
      display: none;
    }
  }

  &__full-text {
    display: none;
    color: $sui-color-primary;
    font-size: relative-pt(42);
    font-weight: 200;
    text-transform: uppercase;

    @include break-on(mobile) {
      display: initial;
    }

    div {
      position: absolute;
      bottom: 1rem;
      margin: 0 0 0 calc(40% - 1rem);
      transform: rotate(-90deg);
      transform-origin: 0 100%;
    }
  }

  &__introduction {
    &-text {
      color: $sui-color-white;
      font-size: relative-pt(16);
      font-weight: 500;
      line-height: relative-pt(23);

      p {
        margin-bottom: 2rem;
      }
    }
  }
}
