@import '../../base.scss';

.sui-page-header {
  width: 100%;
  text-align: center;
  position: static;
  margin: $sui-spacing-large 0;

  .sui-logo {
    position:relative;
    left:50%;
    transform: translateX(-50%);
  }
}