@import '../../base.scss';

.sui-page-header {
  position: static;
  width: 100%;
  margin-bottom: $sui-spacing-xxlarge;
  padding-top: $sui-spacing-large;

  &__wrapper {
    position: relative;
    width: $sui-page-max-width;
    max-width: 100%;

    @include h-centered;
  }

  .sui-logo {
    float: left;

    @include break-on(mobile) {
      float: none;
      padding: $sui-spacing-base $sui-spacing-base $sui-spacing-base $sui-spacing-xlarge;
    }
  }

  .sui-navbar-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    text-align: right;

    @include break-on(mobile) {
      width: initial;
    }
  }
}

.sui-dropdown-menu {
  &__button {
    padding: $sui-spacing-base $sui-spacing-xlarge $sui-spacing-base $sui-spacing-base;
    border: 0;
    background-color: transparent;
  }

  &__icon {
    width: 100%;
    max-width: 2rem;
    max-height: 2rem;
  }
}

.sui-language {
  &-selector-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: $sui-spacing-xxxlarge;
    border-radius: $sui-spacing-sm;
    background-color: $sui-color-white;
    box-shadow: 0 0 $sui-spacing-sm grey;
  }

  &-open-selector {
    position: absolute;
    top: 0;
    right: 0;
    width: $sui-spacing-xxxlarge;
    padding: 0;
  }
}
