@import '../../base.scss';

.sui-navbar {
  display: inline-block;
  left: 50%;
  padding-top: 1rem;

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    display: inline;
    transition: border-bottom $sui-duration-medium ease;
    border-bottom: 2px solid $sui-color-primary-total-trans;

    &--active {
      display: inline;
      transition: border-bottom $sui-duration-medium ease;
      border-bottom: 2px solid $sui-color-primary;
    }

    &:hover {
      color: $sui-color-primary-intense;
    }

    &__link {
      text-decoration: none;
      color: black;

      &:visited {
        color: inherit;
      }

    }
  }

  &__item-spacer {
    padding: 0 0.25rem;
    display: inline;
  }
}
