.sui-navbar {
  padding-top: 1rem;
  border-bottom: 1px dashed mediumvioletred;
  left: 50%;
  display: inline-block;
  //transform: translateX(-50%);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    transition: background-color .1s;
    display: inline;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }

    &:hover {
      background-color: rgba(0,0,0,0.2);
    }

    &__link {
      text-decoration: none;

      &:visited {
        color: initial;
      }

    }
  }

  &__item-spacer {
    padding: 0 0.25rem;
    display: inline;
  }
}