@import '../../base.scss';

.sui-navbar {
  left: 50%;
  display: inline-block;
  padding-top: 1rem;
  text-transform: capitalize;

  &__item {
    display: inline;

    a {
      transition: border-bottom $sui-duration-medium ease;
      border-bottom: pixels(2) solid $sui-color-primary-total-trans;
    }

    &--active {
      display: inline;

      a {
        transition: border-bottom $sui-duration-medium ease;
        border-bottom: pixels(2) solid $sui-color-primary;
      }
    }

    &:hover {
      color: $sui-color-primary-intense;
    }

    &--link {
      color: var(--color-black);
      text-decoration: none;

      &:visited {
        color: inherit;
      }
    }
  }

  &__item-spacer {
    display: inline;
    padding: 0 .25rem;
  }
}
