@import '../../base.scss';

.sui-image-gallery {
  &--wrapper {
    position: relative;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }
}

.sui-add-margins {
  margin: $sui-spacing-base 0 0 $sui-spacing-base;

  @media only screen and (max-width: $dwidth-double) {
    margin: $sui-spacing-base;
  }
}

.sui-form-field {
  width: 100%;
  margin-bottom: $sui-spacing-xlarge;

  label {
    display: inline-block;
    width: 100%;
  }

  input {
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom: $sui-pixel solid black;
  }
}
