/* stylelint-disable */
@import '../../base.scss';

.sui-footer {
  background: $sui-color-primary;
  color: $sui-color-white;
  position: relative;
  width: 100%;
  max-width: $sui-page-max-width;
  //margin-top: $sui-spacing-xxxlarge;
  padding: 1rem;
  font-size: 1rem;
  box-sizing: border-box;

  @include h-centered;

  @include break-on(mobile) {
    font-size: .7rem;
  }

  p {
    margin: 0;
  }
}
