/* stylelint-disable */
@import '../../base.scss';

.sui-footer {
  position: relative;
  width: 100%;
  max-width: $sui-page-max-width;
  margin-top: $sui-spacing-xxxlarge;
  padding: 0 10% $sui-spacing-base 10%;
  font-size: 1rem;
  box-sizing: border-box;

  @include h-centered;

  @include break-on(mobile) {
    font-size: .7rem;
  }

  p {
    margin: 0;
  }

  &__contact {
    position: relative;
    float: left;
    margin-left: -1rem;
    padding-left: 1.6em;
    border-left: 3 * $sui-pixel $sui-color-primary solid;
    line-height: 3em;
    text-align: left;
    box-sizing: border-box;

    @include break-on(desktop) {
      width: $dwidth;
    }
  }

  &__consulta {
    color: $sui-color-primary;
    font-size: 3em;
    font-weight: 200;
  }

  &__telephone {
    margin-bottom: 0;
    font-size: 1.375em;

    a {
      color: black;
    }
  }

  &__mail {
    margin-bottom: 0;
    color: $sui-color-primary;
    font-size: 1.375em;
    line-height: 1.5em;
    unicode-bidi:bidi-override;
    direction: rtl;
  }

  &__social {
    display: none;

    @include break-on(mobile) {
      display: inherit;
    }
  }
}
