$sui-color-primary: rgba(139, 3, 79, 1);
$sui-color-primary-trans: rgba(139, 3, 79, .4);
$sui-color-primary-total-trans: rgba(139, 3, 79, 0);
$sui-color-primary-bright: rgba(159, 34, 95, 1);
$sui-color-primary-intense: rgba(157, 0, 82, 1);
$sui-color-primary-dark: rgba(86, 0, 37, 1);
$sui-color-white: rgba(255, 255, 255, 1);
$sui-color-white-trans: rgba(255, 255, 255, .9);
$sui-color-black: rgba(0, 0, 0, 1);
$sui-color-black-trans: rgba(0, 0, 0, .9);
$sui-duration-short: .3s;
$sui-duration-medium: .6s;
$sui-duration-long: 1s;
$sui-duration-xlong: 4s;
$sui-bezier-photon: cubic-bezier(.07, .95, 0, 1);
$sui-bezier-bounce: cubic-bezier(.07, .95, .7, 1.12);
$sui-bezier-run-up: cubic-bezier(.37, -.36, .15, 1.02);
$sui-bezier-run-up-and-bounce: cubic-bezier(.37, -.36, .57, 1.36);
$sui-spacing-sm: .3rem;
$sui-spacing-md: .6rem;
$sui-spacing-base: 1rem;
$sui-spacing-large: 1.3rem;
$sui-spacing-xlarge: 1.6rem;
$sui-spacing-xxlarge: 2.5rem;
$sui-spacing-xxxlarge: 4.5rem;
$sui-media-phone: 'only screen and (max-width: 320px)';
$sui-media-tablet: 'only screen and (max-width: 320px)';
$sui-media-phone: 'only screen and (max-width: 320px)';
$sui-h1: 2em;
$sui-h2: 1.5em;
$sui-h3: 1.17em;
$dwidth: 17.75rem;
$dheight: 17.75rem;
$sui-page-max-width: calc(#{$dwidth} * 3 + 4rem);
$break-phone: 32.25rem;
$break-tablet: 64rem;
$sui-pixel: .0625rem;

@function relative-pt($pt) {
  @return ($pt / 16) * 1rem;
}

@function pixels($nPixels) {
  @return ($sui-pixel * $nPixels);
}

@mixin break-on($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-phone) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-phone + 1) and (max-width: $break-tablet - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-tablet) {
      @content;
    }
  }
}

body::before {
  content: 'desktop';
  display: none;

  @include break-on(mobile) {
    content: 'mobile';
  }

  @include break-on(tablet) {
    content: 'tablet';
  }

  @include break-on(desktop) {
    content: 'big-desktop';
  }
}

@mixin h-centered {
  left: 50%;
  transform: translateX(-50%);
}

@mixin v-centered {
  top: 50%;
  transform: translateY(-50%);
}

@mixin centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin link {
  color: var(--color-black);
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $sui-color-primary-intense;
  }
}

.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

img {
  width: 100%; // by default
}

html,
body {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
}

#App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#App-content {
  width: 100%;
  flex: 1 0 auto;

  &::after {
    content: '\00a0';
    display: block;
    visibility: hidden;
    height: 0;
    margin-top: $sui-spacing-base;
  }
}

.menu-item::after {
  content: '·';
  margin: auto .25rem;
}

.menu-item:last-child::after {
  content: '';
}

a {
  outline: 0;
  color: $sui-color-primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sui-view-wrapper {
  // empty
}

.visually-hidden {
  visibility: hidden;
}

div {
  user-select: none;
}

button {
  outline: 0;
  user-select: none;
}
