$sui-color-primary: #AA0700;
$sui-color-primary-trans: rgba(170, 7, 0, 0.4);
$sui-color-primary-bright: #FF544C;
$sui-color-primary-intense: #FF0A00;
$sui-color-primary-dark: #7F2A26;

$sui-duration-short: 0.3s;
$sui-duration-medium: 0.6s;
$sui-duration-long: 1s;
$sui-duration-xlong: 4s;
