@import '../../base.scss';

@mixin label-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $sui-spacing-base;
  transition: left $sui-duration-short, top $sui-duration-short;
  background-color: $sui-color-primary-trans;
  box-sizing: border-box;
}

.sui-image-box {
  position: relative;
  width: $dwidth;
  height: $dheight;
  color: $sui-color-white;
  overflow: hidden;

  .fallback-image {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  a {
    color: inherit;
  }

  &__image {
    width: auto;
    height: $dheight;
  }

  &__label {
    &--horizontal {
      left: $dwidth;
      will-change: left;

      @include label-box;
    }

    &--vertical {
      top: $dheight;
      will-change: top;

      @include label-box;
    }

    &--rotate-270 {
      transform: rotateZ(270deg);
    }

    &-text {
      position: absolute;
      bottom: 0;
    }
  }

  &:hover #{&}__label--horizontal {
    left: 0;
  }

  &:hover #{&}__label--vertical {
    top: 0;
  }

  h4 {
    margin: 0;
  }
}
